
<ion-view view-title="DetailsofImage" hide-nav-bar="true">
  <a href="#/tab/collection">
  <ion-content class="padding">
    <img class="fullscreenimage" ng-src="data:image/jpeg;base64, {{image.imageData}}">

    <div class="row">
      <div class="col positivevote">
      <div ng-repeat="vote in image.votes" ng-show="vote.vote==1" >{{vote.name}}</div>
      </div>
      <div class="col negativevotes">
        <div ng-repeat="vote in image.votes" ng-show="vote.vote==2" >{{vote.name}}</div>
      </div>
    </div>
  </ion-content>
    </a>
</ion-view>
