
<ion-view hide-nav-bar="true">
  <ion-nav-title class="header-title">
    Details
  </ion-nav-title>
  <a href="#/tab/collection">
  <ion-content class="padding">
    <img class="fullscreenimage" ng-src="data:image/jpeg;base64, {{image.imageData}}">
    <div class="row">
      <div class="col col-center">
        <h2 class="positive">YES</h2>
        <div ng-repeat="vote in image.votes" ng-show="vote.vote==true">{{vote.number}}</div>
      </div>
      <div class="col">
        <h2 class="balanced">NO</h2>
        <div ng-repeat="vote in image.votes" ng-show="vote.vote==false">{{vote.number}}</div>
      </div>
    </div>
  </ion-content>
    </a>
</ion-view>
