<!-- welcome screen-->
<!-- user register with name, error msg displayed if name (number) already exists
 hint: variable called number is currently used for the name, since we don't have number authentication yet-->
<div class="tab-content tab-login" ng-controller="LoginCtrl">

    <div class="scrollable">

        <div class="scrollable-content">
            <img class="logo" src="../img/logo-slogan-white.svg" alt="Fittshot Logo">

            <input type="text" placeholder="Username" ng-model="form.username" class="outline input-outline">
            <input type="email" ng-if="registerMode==true" placeholder="Email Address" ng-model="form.email"
                   class="outline input-outline">
            <input type="password" placeholder="Password" ng-model="form.password" class="outline input-outline">
            <button type="submit" class="submit-btn btn outline uppercase" ng-if="registerMode==false"
                    ng-click="login(form.username, form.password)">Login
            </button>
            <button type="submit" class="submit-btn btn outline uppercase" ng-if="registerMode==true"
                    ng-click="register(form.username, form.password, form.email)">Register
            </button>
            <h5>{{form.error}}</h5>
            <h5 ng-click="toggleMode()" ng-if="registerMode==false" class="bright-text">Create a new account</h5>
            <h5 ng-click="toggleMode()" ng-if="registerMode==true" class="bright-text">Login with existing account</h5>
            {{errormsg}}
        </div>

    </div>

</div>
