<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="My voters">
  <ion-content class="padding">
    <div ng-repeat="contact in contacts track by $index">
        <ion-toggle ng-change="checkFriend($index, contact.phoneNumbers[0].value, contact.selected)" ng-model="contact.selected" toggle-class="toggle-calm">{{contact.displayName}}</ion-toggle>
    </div>
    <button type="button" ng-click="updateContacts()" name="button">update contacts</button>
  </ion-content>
</ion-view>
