<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="title">
  <ion-content class="padding">
    Halllooooooooo!
    <div ng-repeat="contact in contacts track by $index">
        <h3>{{contact.name}}</h3>
        <ion-toggle ng-model="contact.selected" toggle-class="toggle-calm"></ion-toggle>
    </div>
  </ion-content>
</ion-view>
