<ion-view view-title="Dashboard">
  <ion-content class="padding" ng-controller="DashCtrl">
    <h2>Later we use a real phone number verfication here</h2>

    <p>
      Put down any number below for testing the user identification:
    </p>
    <input class="line-light-grey" type="text" placeholder="Phone number"
    ng-model="number" ng-change="storage.setNumber(number)">
    <p>
      Number is: {{number}}
    </p>
    <a href="#/tab/profile/select">
        <button type="button" name="SelectFriends" > SelectFriends</button>
    </a>
    <p>
        {{friends | json}}
    </p>
  </ion-content>
</ion-view>
