<!-- welcome screen-->
<!-- user register with name, error msg displayed if name (number) already exists
 hint: variable called number is currently used for the name, since we don't have number authentication yet-->
<ion-view view-title="Welcome" hide-nav-bar="true">
  <ion-content class="padding">
    <section class="start">
      <img class="centerImg" src="../img/LogoFittshotWeiß.png" alt="Fittshot Logo">
      <h2 class="balanced centertext">Fittshot</h2>
      <form class="login-form" name="loginForm">
        <div class="outline" ng-if="showNumberField">
          <input class="light profile_phonenumber" id="profile_phonenumber" type="tel" placeholder="Nummer"
                 ng-model="$parent.$parent.number">
        </div>
        <button type="submit" ng-if="showNumberField" class="submit-btn btn outline" ng-click="start(number)">Verify</button>
        <div class="outline" ng-if="showCodeField">
          <input class="light profile_phonenumber" id="profile_code" type="number" placeholder="Code"
                 ng-model="$parent.$parent.code">
        </div>
        <button type="submit" ng-if="showCodeField" class="submit-btn btn outline" ng-click="verify(code)">Submit</button>
        <button type="submit" ng-if="showCodeField" class="submit-btn btn outline" ng-click="back()">Cancel</button>
      </form>
      {{errormsg}}
    </section>
  </ion-content>
</ion-view>
