<!-- collection tab-->
<!-- shows own imagesFromOtherUsers taken with native camera and stored in local storage
  if the votes exist they are shown in progress bar around the image-->

<div class="tab-content tab-collection-detail">

    <div class="scrollable">

        <div class="scrollable-content">
            <div class="image-wrapper" ng-click="goBack()">
                <img src="../img/dress.jpg">
            </div>
            <div class="votes">
                <div class="votes-col positive col-xs-5 col-xs-offset-1">
                    <h4>Awesome</h4>
                    <ul>
                        <li>Anna</li>
                        <li>Sarah</li>
                        <li>Tim</li>
                    </ul>
                </div>
                <div class="votes-col negative col-xs-5">
                    <h4>Awful</h4>
                    <ul>
                        <li>Anton</li>
                        <li>Felix</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
