<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    
    <!-- // adding a Button, that calls the getPhoto function. -->
    <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
    <!-- // The url of the image is saved in the scope by the controller and is displayd on the screen -->
    <img ng-src="{{lastPhoto}}" style="max-width: 100%">

    <div class="item item-input-inset light-grey">
		  <label  class="item-input-wrapper line-light-grey nopadtop">
        <!--Using $parent.function and $parent.varable here insted of $scope.function and $scope.varable
        because, ******* ionic creates automatic child scopes for the "ion-content" container....
        but the function i wrote for sendeing the socket messages is binded to the scope in the view,
        so i need to use the parent to accsess it   -->
		    <input class="line-light-grey" type="text"  placeholder="Message" ng-enter="$parent.sendMessage()" ng-model="$parent.message">
		  </label>
		  <div class="divsend">
			    <button class="button button-clear ion-android-send iconsend" ng-click="$parent.sendMessage()"></button>
		  </div>
    </div>
  </ion-content>
</ion-view>
