<!-- community detail view -->
<div class="tab-content tab-community-detail" ng-controller="CommunityCtrl">

    <div id="viewport">
        <ul swing-stack swing-options="options">
            <li swing-card ng-repeat="card in cards" ng-class="card.name">
                <img src="{{card.src}}">
            </li>
        </ul>
    </div>
    <div class="vote-buttons">
        <div class="dislike vote-button">
            <button type="button" class="btn btn-default btn-circle">
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </button>
        </div>
        <div class="like vote-button">
            <button type="button" class="btn btn-default btn-circle">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </button>
        </div>
    </div>

</div>
