<ion-view view-title="Collection">

  <ion-content  ng-controller="PictureControl" >
<button class="button button-block button-outline button-light ion-plus-round" ng-click="takeImage(1)"></button>

    <ion-list ng-controller="CollectionCtrl">

      <ion-item class="item-thumbnail-left" ng-repeat="item in collection" type="item-text-wrap">

              <img class="collectionPic" ng-src="img/{{item.item}}.jpg">
              <h2>{{item.up}}</h2>
              <h2>{{item.down}}</h2>

              <ion-option-button class="button-assertive" ng-click="remove(item)">
                Delete
              </ion-option-button>

      </ion-item>
      </ion-list>

        <img ng-show="srcImage !== undefined" ng-src="{{srcImage}}">


  <!--            <a href ="#/tab/camera"   </a>
  -->

  </ion-content>
</ion-view>
