<ion-view view-title="Enquires">
  <ion-content ng-controller="ItemsController" class="padding">

    <ion-list>
      <!-- list items and current one in var item -->
      <ion-item ng-repeat='item in items'>

        <div class="item card">
          <div class="user item-avatar">
              <img src="img/{{item.profilepic}}.jpg"
              <h3>{{item.name}}</h1>
          </div>
          <div class="picture">
              <img src="img/{{item.item}}.jpg"
          </div>
          <div class="vote">

          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
