<!-- collection tab-->
<!-- shows own imagesFromOtherUsers taken with native camera and stored in local storage
  if the votes exist they are shown in progress bar around the image-->

<div class="tab-content tab-collection">

    <div class="scrollable">

        <div class="scrollable-header">
            <div class="banner">
                <img src="../img/banners/collection.png">
                <p>Collection</p>
            </div>
        </div>

        <div class="scrollable-content">
            <button type="button" class="btn btn-default btn-circle take-pic">
                <i class="ion-android-add"></i>
            </button>

            <div class="progress-radial progress-78">
                <div class="overlay"></div>
            </div>

            <div class="progress-radial progress-78">
                <div class="overlay"></div>
            </div>

            <div class="progress-radial progress-78">
                <div class="overlay"></div>
            </div>

            <div class="progress-radial progress-78">
                <div class="overlay"></div>
            </div>

            <div class="progress-radial progress-78">
                <div class="overlay"></div>
            </div>
        </div>

        <div class="scrollable-footer">
            <div class="tabbar" ng-controller="TabsCtrl">
                <div class="container">
                    <div class="row">
                        <div id="tab-indicator"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 tab" id="community-tab" ng-click="redirectTo('community')" onclick="$('#tab-indicator').css('margin-left','0')">
                            Community
                        </div>
                        <div class="col-xs-4 tab" id="collection-tab" ng-click="redirectTo('collection')" onclick="$('#tab-indicator').css('margin-left','33.333%')">
                            Collection
                        </div>
                        <div class="col-xs-4 tab" id="profile-tab" ng-click="redirectTo('profile')" onclick="$('#tab-indicator').css('margin-left','66.666%')">
                            Profile
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>