<!-- profile tab -->
<!-- shows the nickname and allows user to send feedback and refresh user data -->

<div class="tab-profile">
    <h1>Profile</h1>

    <ul class="list">
        <!--LoginName-->
        <li class="item">
            Username: {{username}}
        </li>
        <!--Email-->
        <li class="item">
            Email: {{email}}
        </li>
        <!--Location -->
        <li class="item">
            Location: Ingolstadt
        </li>

    </ul>

    <!--Invite -->
    <button class="btn btn-block outline" ng-click="giveFeedback()">
        Give Feedback
    </button>
    <!--Feedback-->
    <button class="btn btn-block outline" ng-click="inviteFriends()">
        Invite Friends
    </button>
    <!--logout-->
    <button class="btn btn-block outline" ng-click="logout()" ui-sref="login">
        Logout
    </button>
</div>
