<!-- profile tab -->
<!-- shows the nickname and allows user to send feedback and refresh user data -->
<ion-view class="banner profile">
  <ion-nav-title class="header-title">
    Profile
  </ion-nav-title>
  <ion-content class="padding has-header has-subheader">
    <!-- show own name, which is currently in the number field, will be replaced after we add number authentication-->
    <h3 class="centertext">{{storage.getNumber()}}</h3>
    <!--feedback button , hockeyapp-->
    <button type="submit" class="btn outline" ng-click="sendFeedback()">
      Submit Feedback
    </button>
    <!-- sync data with server, refresh -->
    <button type="submit" class="btn outline" ng-click="updateData()">
      Refresh Data
    </button>
</ion-view>
