<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced" ng-controller="TabsCtrl" ng-class="{'tabs-item-hide': hideTabs}">

  <!-- Community Tab -->
  <ion-tab title="community" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/community">
    <ion-nav-view name="tab-community"></ion-nav-view>
  </ion-tab>

  <!-- My Collection Tab -->
  <ion-tab title="Collection" icon-off="ion-images" icon-on="ion-images"  href="#/tab/collection" >
    <ion-nav-view name="tab-collection"></ion-nav-view>
  </ion-tab>


  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
