<!-- community detail view -->
<div class="tab-content tab-community-detail">

    <div class="image-wrapper" ng-click="goBack()">
        <img src="../img/dress.jpg">
    </div>
    <div class="vote-buttons">
        <div class="vote-button col-xs-6 positive">
            <button class="btn btn-block outline" ng-click="goBack()">
                Yes
            </button>
        </div>
        <div class="vote-button col-xs-6 negative">
            <button class="btn btn-block outline" ng-click="goBack()"   >
                No
            </button>
        </div>
    </div>

</div>
