<!-- community detail view -->
<ion-view hide-nav-bar="true">
  <ion-nav-title class="header-title">
    Details
  </ion-nav-title>
  <a href="#/tab/community">
    <ion-content class="padding">

      <!-- card with imagesFromOtherUsers from community repeating -->
      <div class="card">

        <div class="item item-royal">
          <!-- image itself-->
          <img class="communitySingleImg" ng-src="img/dress.jpg">
        </div>
        <div class="item item-royal item-divider row">
          <!-- button for voting -->
            <div class="col col-50">
              <button class="button button-balanced leftButton">NO</button>
            </div>
            <div class="col">
              <button  class="button button-positive rightButton">YES</button>
            </div>
          </div>
      </div>
      <!-- card with imagesFromOtherUsers from community repeating -->
      <div class="card">

        <div class="item item-royal">
          <!-- image itself-->
          <img class="communitySingleImg" ng-src="img/dress.jpg">
        </div>
        <div class="item item-royal item-divider row">
          <!-- button for voting -->
            <div class="col col-50">
              <button class="button button-balanced leftButton">NO</button>
            </div>
            <div class="col">
              <button  class="button button-positive rightButton">YES</button>
            </div>
          </div>
      </div>
      <!-- card with imagesFromOtherUsers from community repeating -->
      <div class="card">

        <div class="item item-royal">
          <!-- image itself-->
          <img class="communitySingleImg" ng-src="img/dress.jpg">
        </div>
        <div class="item item-royal item-divider row">
          <!-- button for voting -->
            <div class="col col-50">
              <button class="button button-balanced leftButton">NO</button>
            </div>
            <div class="col">
              <button  class="button button-positive rightButton">YES</button>
            </div>
          </div>
      </div>
      <!-- card with imagesFromOtherUsers from community repeating -->
      <div class="card">

        <div class="item item-royal">
          <!-- image itself-->
          <img class="communitySingleImg" ng-src="img/dress.jpg">
        </div>
        <div class="item item-royal item-divider row">
          <!-- button for voting -->
            <div class="col col-50">
              <button class="button button-balanced leftButton">NO</button>
            </div>
            <div class="col">
              <button  class="button button-positive rightButton">YES</button>
            </div>
          </div>
      </div>
      <!-- card with imagesFromOtherUsers from community repeating -->
      <div class="card">

        <div class="item item-royal">
          <!-- image itself-->
          <img class="communitySingleImg" ng-src="img/dress.jpg">
        </div>
        <div class="item item-royal item-divider row">
          <!-- button for voting -->
            <div class="col col-50">
              <button class="button button-balanced leftButton">NO</button>
            </div>
            <div class="col">
              <button  class="button button-positive rightButton">YES</button>
            </div>
          </div>
      </div>

    </ion-content>
  </a>
</ion-view>
