<!-- collection detail view -->
<!-- shows full screen picture with votes -->
<ion-view hide-nav-bar="true" ng-click="goBack()">
  <ion-nav-title class="header-title">
    Collections Details
  </ion-nav-title>
  <ion-content class="padding">

    <!-- card with imagesFromOtherUsers from community repeating -->
    <div class="card">
      <div class="item item-royal">
        <!-- image itself-->
        <img class="communitySingleImg" ng-src="img/dress.jpg">
      </div>

    </div>
    <!-- card with imagesFromOtherUsers from community repeating -->
    <div class="card">
      <div class="item item-royal">
        <!-- image itself-->
        <img class="communitySingleImg" ng-src="img/dress.jpg">
      </div>

    </div>
    <!-- card with imagesFromOtherUsers from community repeating -->
    <div class="card">
      <div class="item item-royal">
        <!-- image itself-->
        <img class="communitySingleImg" ng-src="img/dress.jpg">
      </div>

    </div>
    <!-- card with imagesFromOtherUsers from community repeating -->
    <div class="card">
      <div class="item item-royal">
        <!-- image itself-->
        <img class="communitySingleImg" ng-src="img/dress.jpg">
      </div>

    </div>
    <!-- card with imagesFromOtherUsers from community repeating -->
    <div class="card">
      <div class="item item-royal">
        <!-- image itself-->
        <img class="communitySingleImg" ng-src="img/dress.jpg">
      </div>

    </div>
  </ion-content>
</ion-view>
