<ion-view>
  <ion-nav-title class="header-title">
    Manage Friends
  </ion-nav-title>
  <ion-content class="padding">
    <div class="outline">
      <input class="light profile_phonenumber" id="profile_phonenumber" type="text" placeholder="Friend's username"
             ng-model="friendNumber.name">
    </div>
    <button type="submit" class="submit-btn btn outline" ng-click="addFriend(friendNumber.name); friendNumber.name = ''">Add</button>
    <button type="submit" class="submit-btn btn outline" ng-click="selectFromPhone()">Select from phone</button>
    <div>
      <button class="button markedForDelete friendsDeleteButtons" ng-click="deleteSelectedFriends()" ng-show="deleteMode==true" >
        Delete
      </button>
      <button class="button friendsDeleteButtons" ng-click="cancelDelete()" ng-show="deleteMode==true">
        Cancel
      </button>
    </div>
    <ion-item class="item-royal" ng-repeat="friend in friendList track by $index" on-hold="toggleDeleteMode(friend.lokiID)" on-tap="toggleDeleteList(friend.lokiID)">
      <div>
          <h3 ng-class="{markedForDelete: (friendsToDelete.indexOf(friend.lokiID) > -1)}" >{{friend.number}}</h3>
      </div>
    </ion-item>
  </ion-content>
</ion-view>

