<ion-view>
  <ion-nav-title class="header-title">
    <label>Search: <input ng-model="searchText" style="color: black"></label>
  </ion-nav-title>
  <ion-content class="padding">
    <!--<div class="outline">-->
      <!--<input class="light profile_phonenumber" id="profile_phonenumber" type="text" placeholder="Friend's username"-->
             <!--ng-model="friendNumber.name">-->
    <!--</div>-->
    <!--<button type="submit" class="submit-btn btn outline" ng-click="addFriend(friendNumber.name); friendNumber.name = ''">Add</button>-->
    <!--<button type="submit" class="submit-btn btn outline ion-android-sync" ng-hide="loadingContacts" ng-click="syncWithPhone()"></button>-->
    <ion-spinner class="loadingSpinner" ng-show="loading"></ion-spinner>
    <!--<div>-->

      <!--<button class="button markedForDelete friendsDeleteButtons" ng-click="deleteSelectedFriends()" ng-show="deleteMode==true" >-->
        <!--Delete-->
      <!--</button>-->
      <!--<button class="button friendsDeleteButtons" ng-click="cancelDelete()" ng-show="deleteMode==true">-->
        <!--Cancel-->
      <!--</button>-->
    <!--</div>-->
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <ion-item class="item-royal" ng-repeat="friend in friendListFound = (friendList | filter: {displayName: searchText}) track by $index" on-tap="toggleSelect(friend.id)" >
      <!--on-hold="toggleDeleteMode(friend.lokiID)" on-tap="toggleDeleteList(friend.lokiID)"-->
      <div>
        <!--ng-class="{markedForDelete: (friendsToDelete.indexOf(friend.lokiID) > -1)}"-->
          <h3 ng-class="{friendIsSelected: (selectedFriends.indexOf(friend.id) > -1)}"> {{friend.displayName}}</h3>
      </div>
      <!--<ion-list>-->
        <!--<ion-checkbox checked="{friendIsSelected: (selectedFriends.indexOf(friend.id) > -1)}" ng-repeat="friend in friendList track by $index" on-tap='toggleSelect(friend.id)'>{{friend.displayName}} </ion-checkbox>-->
      <!--</ion-list>-->
    </ion-item>
  </ion-content>
</ion-view>

