@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 100vh;
  overflow: hidden;
}

.bg-wrapper {
  background: url('../images/background.jpg');
  background-size: cover;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}

.table-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.cut {
  background: rgba(255,255,255,0.12);
  height: 100%;
  width: 150%;
  position: absolute;
  top: 0;
  left: -104%;
  transform: skew(-30deg);
}

.content {
  padding-left: 15em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 3em;
}

@media screen and (max-width: 991px) {
  .content {
    padding-left: 0;
  }
  .cut {
    left: -126%;
  }
}

.content img {
  width: 80%;
  max-width: 600px;
}

#info-text {
  margin: 3em auto;
  line-height: 40px;
  font-size: 20px;
  padding: 0 1em;
}
@media screen and (max-width: 550px) {
  #info-text {
    line-height: 30px;
    font-size: 16px;
  }
}

.content .input-group {
  width: 400px;
  margin: 3em auto 0;
}
@media screen and (max-width: 550px) {
  .content .input-group {
    width: 70%;
  }
}

.button-light {
  margin-top: 5em;
  height: 4em;
  padding: 1.25em 2em;
  border-radius: 2em;
  font-weight: 400;
  background: rgba(255,255,255,0.1);
  letter-spacing: 1px;
  color: white;
}

.input-group input {
  height: 4em;
  padding: 1em 1.5em 1em 2.5em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  font-weight: 400;
  background: rgba(255,255,255,0.1);
  letter-spacing: 1px;
  color: white;
}
.input-group input:hover {
  background: rgba(255,255,255,0.07);
}
.input-group input:focus {
  box-shadow: inset 0 0 1px white;
  outline: 0;
  border-color: white;
}

.input-group input[type="submit"] {
  height: 4em;
  padding: 0 3em 0 2.5em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  font-weight: 400;
  background: rgba(255,255,255,0.7);
  letter-spacing: 1px;
  color: black;
}
.input-group input[type="submit"]:hover {
  background: rgba(255,255,255,0.8);
}

@media screen and (max-width: 767px) {
  .input-group input, .input-group input[type="submit"] {
    padding: 1em 1.5em;
    letter-spacing: 0;
  }
}

.content p {
  margin-top: 1em;
  color: white;
  font-weight: 300;
}

.bottom {
  position: absolute;
  padding-left: 15em;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .bottom {
    padding-left: 0;
  }
}

.bottom a {
  color: rgba(255,255,255,0.5);
  padding: 1em;
}

.social {
  margin: 3em auto 0;
}
@media screen and (max-width: 991px) {
  .social {
    margin-top: 1em;
  }
}

.social i {
  margin: 1em 0.5em;
  font-size: 42px;
  color: rgba(255,255,255,0.9);
  transition: color 0.2s ease;
}
@media screen and (max-width: 991px) {
  .social i {
    font-size: 30px;
  }
}
.social a:hover > i {
  color: rgba(255,255,255,0.5);
}
