/* tab-community */
.postContainer{
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
}
.fromWhoHeading{
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: -30px 5px 20px 25px white, 20px 15px 20px 25px white;
    -moz-box-shadow: -30px 5px 20px 25px white, 20px 15px 20px 25px white;
    box-shadow: -30px 5px 20px 25px white, 20px 15px 20px 25px white;
}

/*code for simple buttons*/
.communitySingleImg{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5%;
}
.leftButton{

  width: 50%;
  height: 15%;
  float: left;
  position: relative;
  opacity: 0.5;
  background-color: #5CF1C6;
}
.rightButton{
  width: 50%;
  height: 15%;
  float: right;
  opacity: 0.5;
  background-color: #5CF1C6;
}
.col.col-50{
  padding: 0 2.5px 0 2.5px;
}


/* this here is code for invisibe buttons infront of the images
.communitySingleImg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.leftButton{
  position: absolute;
  width: 50%;
  height: 100%;
  float: left;
  /*z-index: 2;*//*
  opacity: 0.5;
  background-color: #5CF1C6;
}
.leftButton:active, .rightButton:active {
  opacity: 1;
}
.rightButton{
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  opacity: 0.5;
  /*z-index: 2;*//*
  background-color: #5CF1C6;
}
*/

/* tab-collection */
.item-container{
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  width: 220px;
  height: 220px;
}
.progress-circle{
  position: absolute;
  z-index: 1;
}
.img-wrapper {
  z-index: 2;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.img-wrapper-img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
  position: relative;
  bottom: 50%;
}
.fullscreenimage{
  width: 100%;
  height: auto;
}
/* tab-camera */
div.imagePicked{
  height: auto;
  width:500px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.cameraImage {
  height: 50%;
  width:50%;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.negativevotes{
  color: red;
}
.positivevote{
  color: green;
}
/**/
