/* tab-community */
.postContainer{
  display: inline-block;
  width: 100%;
  height: 500px;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
}
.fromWhoHeading{
    position: relative;;
    z-index: 3;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: -30px 5px 20px 25px white , 20px 5px 20px 25px white, -20px -5px 20px 25px white ,20px -5px 20px 25px white;
    -moz-box-shadow:   -30px 5px 20px 25px white , 20px 5px 20px 25px white, -20px -5px 20px 25px white ,20px -5px 20px 25px white;
    box-shadow: -30px 5px 20px 25px white , 20px 5px 20px 25px white, -20px -5px 20px 25px white ,20px -5px 20px 25px white;
}
.communitySingleImg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.leftButton{
  position: absolute;
  width: 50%;
  height: 100%;
  float: left;
  z-index: 2;
  opacity: 0;
  background-color: #5CF1C6;
}
.leftButton:active, .rightButton:active {
  opacity: 1;
}
.rightButton{
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  opacity: 0;
  z-index: 2;
  background-color: #5CF1C6;
}







/* tab-collection */
.wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper > .bar, .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper > img {
    /* Needs appropriate vendor prefixes */
    box-sizing: border-box;
    /* This needs to be equal to strokeWidth */
    padding: 4%;
}
.wrapper > img {
    border-radius: 50%;
}
.circle {
  width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
}

/* tab-camera */
div.imagePicked{
  height: auto;
  width:500px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.cameraImage {
  height: 50%;
  width:50%;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

/**/
