/* tab-enquires */
.full-image {
    width: 100%;
}
/* tab-collection */
.wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper > .bar, .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper > img {
    /* Needs appropriate vendor prefixes */
    box-sizing: border-box;
    /* This needs to be equal to strokeWidth */
    padding: 4%;
}
.wrapper > img {
    border-radius: 50%;
}
.circle {
  width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
}

/* tab-camera */
div.imagePicked{
  height: auto;
  width:500px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.cameraImage {
  height: 50%;
  width:50%;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

/**/
